
body{
	
	
}
h3{

 

}
h1{


	}
div.peace{
	width: 500px;
	height: 500px;
	position: relative;
	background-image: url("bank.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.7;
}
div.yo{
	position: absolute;
}
